IMAGE_TAG=0.0.1
BIND_IP=100.87.115.78
STUDIO_ORIGIN=https://studio.plasmic.shiguanglab.com
CANVAS_ORIGIN=https://canvas.plasmic.shiguanglab.com
POSTGRES_PASSWORD=replace-with-random-secret
SESSION_SECRET=replace-with-random-secret
S3_ACCESS_KEY=replace-with-random-key
S3_SECRET_KEY=replace-with-random-secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=replace-with-random-password-at-least-24-characters
