.pageSettingsContainer [class*="labelContainer"] {
  width: 100px;
}

.pageSettingsContainer [data-plasmic-role="labeled-item"] {
  column-gap: 8px;
}
.pageSettingsContainer > div {
  width: 100%;
  border: 0;
  border-radius: 0;
  background: transparent;
}
